# Практика по докладу №12

## Задание №1
Создайте свой класс и с помощью pickle запишите его в файл под название "MyClassInFile"

In [1]:
import pickle

class class_one:
    class_data = {'a'}
    def funk(class_data):
        return class_data
class_class = class_one()

with open('MyClassInFile.pickle', 'wb') as f:
    pickle.dump(class_class, f)

## Задание №2
С помощью shelve создайте файл "MyFavoriteMovies", и запишите в него названия своих любимых фильмов. В качестве ключей используйте имена режисеров

In [2]:
import shelve

with shelve.open("MyFavoriteMovies") as Movies:
    Movies["Джефф Уодлоу"] = "Никогда не сдавайся"
    Movies["Филлип Нойс"] = "Посвященный"
    Movies["Дэвид Финчер"] = "Бойцовский клуб"
    Movies["Джефф Томсич"] = "Ты водишь!"
    
with shelve.open("MyFavoriteMovies") as Movies:
    for key in Movies:
        print(key," : ", Movies[key])

Джефф Уодлоу  :  Никогда не сдавайся
Филлип Нойс  :  Посвященный
Дэвид Финчер  :  Бойцовский клуб
Джефф Томсич  :  Ты водишь!

## Задание №3
Создайте таблицу employees и заполните ее данными, как на картинке. Повысьте зарплату на 1000 долларов всем работикам младше 30 лет и удалите из таблицы работников старше 40

In [11]:
import sqlite3
conn = sqlite3.connect("mydatabase.db")
cursor = conn.cursor()
cursor.execute("CREATE TABLE employee (name text, salary$ text, age text)")

In [12]:
employ = [('John Doe', '5000', '35'),
          ('Marie Paige', '6000', '25'),
          ('Megan Flores', '3000', '29'),
          ('Harmony Simmons', '4000', '42')]

In [13]:
cursor.executemany("INSERT INTO employee VALUES (?,?,?)", employ)
conn.commit()
sel = "SELECT rowid, * FROM employee ORDER BY age"
cursor.execute(sel)
cursor.fetchall()

[(2, 'Marie Paige', '6000', '25'),
 (3, 'Megan Flores', '3000', '29'),
 (1, 'John Doe', '5000', '35'),
 (4, 'Harmony Simmons', '4000', '42')]

In [14]:
sel = "DELETE FROM employee WHERE age >= '40'"
cursor.execute(sel)
conn.commit()
sel = "SELECT rowid, * FROM employee ORDER BY age"
cursor.execute(sel)
cursor.fetchall()

[(2, 'Marie Paige', '6000', '25'),
 (3, 'Megan Flores', '3000', '29'),
 (1, 'John Doe', '5000', '35')]

In [20]:
sel = """
UPDATE employee
SET salary$ = '7000' 
WHERE age = '25'
"""
cursor.execute(sel)
conn.commit()

In [21]:
sel1 = """
UPDATE employee
SET salary$ = '4000' 
WHERE age = '29'
"""
cursor.execute(sel1)
conn.commit()

In [22]:
sel = "SELECT rowid, * FROM employee ORDER BY age"
cursor.execute(sel)
cursor.fetchall()

[(2, 'Marie Paige', '7000', '25'),
 (3, 'Megan Flores', '4000', '29'),
 (1, 'John Doe', '5000', '35')]